@{
    ViewData["Title"] = "Poll Creator";
}

@model Pollinator.Models.Quiz

<div class="text-center">
    <h1 class="display-4">Poll Creator</h1>
</div>
<br>

<div class="container centerForm">
@using (Html.BeginForm())
{   
    <label for="Name">Poll Name</label>
    <br>
    <input id="Name" name="Name" type="text" class="pollInput">
    <br>
    <label for="Description">Poll Description</label>
    <br>
    <input id="Description" name="Description" type="text" class="pollInput">
    <br>
    <input type="submit" value="Create Quiz">
}
</div>
<p>@Html.ActionLink("Show all (of your?) quizzes", "Index")</p> 