@{
    ViewData["Title"] = "Poll Creator";
}

@model Pollinator.Models.Quiz

<div class="text-center">
    <h1 class="display-4">Poll Creator</h1>
</div>
<br>

<div class="container formAlign">
@using (Html.BeginForm())
{   
    <br>
    <label for="QuestionText">Question Text</label>
    <br>
    <input id="QuestionText" name="QuestionText" type="text" class="pollInput">
    <br>
    <label for="AnswerA">Answer Option A</label>
    <br>
    <input id="AnswerA" name="AnswerA" type="text" class="pollInput">
    <br>
    <label for="AnswerB">Answer Option B</label>
    <br>
    <input id="AnswerB" name="AnswerB" type="text" class="pollInput">
    <br>
    <label for="AnswerC">Answer Option C</label>
    <br>
    <input id="Answerc" name="Answerc" type="text" class="pollInput">
    <br>
    <input type="submit" value="Create Quiz">
}
</div>
<p>@Html.ActionLink("Show all (of your?) quizzes", "Index")</p> 