@{
    ViewData["Title"] = "Quiz Index";
}

<div class="text-center">
    <h1 class="display-4">Active Quizzes</h1>

</div>
@using Pollinator.Models
@model  List<Pollinator.Models.Quiz>;

@*
@foreach (Quiz quiz in Model)
{
  <li>@Html.ActionLink($"{quiz.Name}", "Details", new { id = quiz.QuizId })</li>
}
*@

<p>@Html.ActionLink("Create a quiz", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>