@{
    Layout = "_Layout";
}
@using System.Security.Claims
<h2>Your Account</h2>
<hr/>
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type = "submit" class="btn btn-default btn-outline-custom" value="Log out"/>
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}