@{
    ViewData["Title"] = "About the Developers";
}
<br>
    <h1 id="home-welcome" class="display-4 text-center">About the Team</h1>
    <br>
<div class="container">
    <div class="row justify-content-between">

<!-- Rochelle's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rochelle Roberts</h5>
    <p class="card-text">Hi! My name is Rochelle, and I am a passionate and devoted programmer. I learned a lot about relational databases during this project. My hobbies include gardening and knitting. I hope you enjoy using Pollinator!</p>
    <a href="https://www.linkedin.com/in/rochelle-roberts/" id="about-button" class="btn">LinkedIn</a>
  </div>
</div>

<!-- Maryana's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Maryana Antonyuk</h5>
    <p class="card-text">Hello! My name is Maryana, and I am a dynamic and enthusiastic developer. I learned a lot about hosting using AWS. My hobbies include travelling and spending time with my family. Thanks for visiting Pollinator!</p>
    <a href="https://www.linkedin.com/in/maryana-antonyuk-59557b75/" id="about-button" class="btn">LinkedIn</a>
  </div>
</div>

<!-- Lisa's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Lisa Jensen</h5>
    <p class="card-text">Hi! My name is Lisa, and I am a creative and dedicated programmer. I learned a lot about styling and MVC apps during this project. My hobbies include sketching and baking cakes. Have fun polling!</p>
    <a href="https://www.linkedin.com/in/lisa-jensen-884837191/" id="about-button" class="btn">LinkedIn</a>
  </div>
</div>

    </div>
</div>