@{
    ViewData["Title"] = "About the Developers";
}
<br>
    <h1 id="home-welcome" class="display-4 text-center">About the Team</h1>
    <br>
<div class="container">
    <div class="row justify-content-between">
<!-- Rochelle's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rochelle Roberts</h5>
    <p class="card-text">A quick blurb about each developer! (Extra super long winded fill in text to make box bigger for a more accurate preview)</p>
    <a href="#" id="about-button" class="btn">LinkedIn/Github</a>
  </div>
</div>

<!-- Maryana's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Maryana Antonyuk</h5>
    <p class="card-text">A quick blurb about each developer! (Extra super long winded fill in text to make box bigger for a more accurate preview)</p>
    <a href="#" id="about-button" class="btn">LinkedIn/Github</a>
  </div>
</div>

<!-- Lisa's Card -->
<div class="card" style="width: 18rem;">
  <img id="about-photo" class="card-img-top" src="~/img/placeholder.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Lisa Jensen</h5>
    <p class="card-text">A quick blurb about each developer! (Extra super long winded fill in text to make box bigger for a more accurate preview)</p>
    <a href="#" id="about-button" class="btn">LinkedIn/Github</a>
  </div>
</div>

    </div>
</div>