@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 id="home-welcome" class="display-4">Welcome to Pollinator</h1>
    <br>
    <br>
    <h3 id="home-intro" class="display-5 text-muted">(re-word: this is placeholder text) 
        <br>Create Polls. Answer polls. See what the rest of the world thinks! </h3>
    @*<h3>@Html.ActionLink("View Quizzes", "Index", "Quizzes")</h3>

    <p>@Html.ActionLink("Login", "Login", "Account")</p>
    <p>@Html.ActionLink("Create an account", "Register", "Account")</p>*@
</div>

