@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>@Html.ActionLink("View Quizzes", "Index", "Quizzes")</h3>

    <p>@Html.ActionLink("Login", "Login", "Account")</p>
    <p>@Html.ActionLink("Create an account", "Register", "Account")</p>
    <p>@Html.ActionLink("Create a Poll", "Create", "Quizzes")</p>
</div>

