﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navigation bar styles
-------------------------------------------------- */ 
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav {
  background-color: #a9d4e7;
  font-family: 'Varela Round', sans-serif;
}

#nav-login {
  text-align: right;
  float: right;
}

#nav-logo {
  height: 30px;
  width: auto;
}

.btn-outline-custom {
  border-color: #a9d4e7;
  background-color: #a9d4e7;
}

.btn-outline-custom:hover {
  background-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e3f4fb;
}
.border-bottom {
  border-bottom: 1px solid #e3f4fb;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Sticky body styles
-------------------------------------------------- */

 body {
  background-color: #e3f4fb;
}

main {
  font-family: 'Varela Round', sans-serif;
}

h3#home-intro {
  border: black, 2px;
}
.nav-link:hover {
text-shadow: -1px 0 white, 0 -1px white;
opacity: 0.5;
 }
 
 /* Quiz-Chart Cards */

#chart-card {
  height: 250px;
  width: 400px;
  align-content: center;
}

#answers-card {
  font-size: 25px;
  text-align: center;
  align-content: center;
  float: center;
}

.card-header {
  background-color: #a9d4e7;
}


 /* About Developers */

 .card {
   border: 2px, black;
 }

 #about-button {
   background-color: #a9d4e7;
 }

 #about-button:hover {
   text-shadow: -1px 0 white, 0 -1px white;
  opacity: 0.5;
 }

 #about-photo {
   height: 256px;
   width: auto;
 }

/* Poll creator form */
.formAlign {
  text-align: center;
}
.pollInput {
  border: 0;
  outline: 0;
  border-bottom: 2px solid gray;
}

